@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #000;
    background-image: url('../img/home_page_background.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 0;
    transition: background-color 0.3s ease;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/home_page_background.webp');
}

.navbar {
    width: 100%;
    background-color: #111;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 2px solid #fff;
}

.navbar-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-logo {
    display: flex;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.img-log {
    width: 55px;
    height: auto;
    filter: invert(100%) grayscale(50%) brightness(90%);
    margin-right: 5px;
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
}

.nav-link {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    position: relative;
    transition: color 0.3s, transform 0.3s;
}

.nav-link:hover {
    color: #f4f4f4;
    transform: scale(1.1);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.container {
    padding: 60px;
    margin-top: 60px;
    max-width: 720px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #ffffff;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    opacity: 0; 
    transform: translateY(20px); 
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}

h1 {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 20px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

p {
    font-size: 1.2rem;
    color: #d1d1d1;
    margin-bottom: 20px;
    line-height: 1.6;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}

.container:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.7); 
    transform: translateY(-10px);
    transition: box-shadow 0.3s, transform 0.3s ease;
}

button {
    padding: 15px 25px;
    font-size: 1rem;
    color: #fff;
   	background: linear-gradient(45deg, #00509e, #002a6f);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button:hover {
	 background: linear-gradient(45deg, #3a86ff, #00509e);
     transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.floating-button {
    position: fixed;
    bottom: 50px;
    right: 50px; 
    width: 60px;
    height: 60px;
    background-color: #007bff;
    color: white; 
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000; 
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.floating-button:hover {
    background-color: #0056b3; 
    transform: scale(1.1); 
}

.floating-button:focus {
    outline: none;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #000;
    margin: 7% auto; 
    padding: 40px;
    border: 1px solid #FFF; 
    width: 85%; 
    max-width: 900px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px; 
    text-align: justify;
    color: #e0f2fe;
    font-family: Arial, sans-serif;
}

.modal-content h2, .modal-content h3 {
    color: #38bdf8;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 2rem; 
}

.modal-content ul {
    list-style: none; 
    padding: 0;
    margin: 10px 0;
}

.modal-content ul li {
    padding: 5px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
}

.modal-content ul li:before {
    content: "•"; 
    color: #60a5fa;
    font-size: 1.5rem;
}

.modal-content a {
    text-decoration: none;
    transition: color 0.3s ease;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.modal-content a:hover {
    color: #0284c7; 
}

.modal-content a i {
    font-size: 2.5rem;
    color: #fff;
    margin-top: 10px;
}

.modal-content a i.fa-linkedin,
.modal-content a i.fa-github  {
	margin-left: 20px;
}

.close {
    color: #93c5fd;
    float: right;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover,
.close:focus {
    color: #60a5fa;
}

@media (max-width: 768px) {
	
    .modal-content {
        width: 95%; 
        margin: 10% auto;
        padding: 20px;
    }

    .modal-content h2, .modal-content h3 {
        font-size: 1.5rem;
    }

    .modal-content ul li {
        font-size: 1rem;
    }
}


@media (max-width: 1200px) {
    .navbar-container {
        padding: 0 15px;
    }
    .navbar-links {
        width: auto;
    }
}

@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .navbar-logo {
        margin-bottom: 10px;
    }
    
    .navbar-links {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .navbar-links .nav-link {
        font-size: 1.2rem;
        margin: 10px 0;
    }

    .container {
        padding: 40px;
        margin-top: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .navbar-logo {
        font-size: 1.2rem;
    }
    
    .navbar-links .nav-link {
        font-size: 1rem;
    }

    .container {
        padding: 30px;
        margin-top: 20px;
    }

    h1 {
        font-size: 1.8rem;
    }

    p {
        font-size: 0.8rem;
    }

    button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}
